services:
 mongo:
  image: mongo:latest
  restart: always
  ports:
    - "27017:27017"
  env_file:
    - .env
  environment:
    MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
    MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
  volumes:
    - mongo-data:/data/db
volumes:
  mongo-data: {}